.header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
}

.container__image {
    padding: 1em;
}

.header__menu-hamburguer { 
    width: 48px;
    height: 48px;
    background-image: url("../images/header/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.list-menu {
    display: none;
    position: absolute;
    top: 10%;
    width: 40vw;
}

.container__botao:checked~.list-menu {
    display: block;
}

.container__botao {
    display: none;
}

.list-menu__title, .list-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.list-menu__title {
    color: var(--laranja);
    font-weight: 700;
}

.list-menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        display: block;
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .container__image-transparente {
        display: none;
    }

    .header__menu-hamburguer {
        display: none;
    }

    .opcoes {
        display: flex;   
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked~.list-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }
}